@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

:root {
    --bg-color: #000;
    --snd-bg-color: #111;
    --text-color: #fff;
    --main-color: #7D0000;
}

/* General Styles */
body {
    background: var(--bg-color);
    color: var(--text-color);
}
  

  html {
    font-size: 60%;
    overflow-x: hidden;
}
  
/* Barra superior*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
    text-decoration: none;
}
span {
    color: var(--main-color);
}
.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    width: 100%;
    padding: 1rem 0;
}
.navbar.active {
    display: flex; 
    flex-direction: column;
 }

.navbar a {
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--text-color);
    margin-left: 4px;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
    letter-spacing: 2px;
}

.navbar a:hover, 
.navbar a.active {
    border-bottom: 3px solid var(--main-color);
}
.navbar li {
    display: inline-block;
}

.navbar .logo {
    font-size: 4rem; 
    font-weight: 700;
    border-bottom: none;
}
.navbar .logo:hover, 
.navbar .logo.active {
    color: var(--text-color);
    border-bottom: none;
}

#menu {
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
    margin-left: 4px;
    display: block;
}

    .section {
        text-align: center;
      }
      
      .section-image{
        min-height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('img/image\ 19.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      }
    
      .section-title {
        text-shadow: 0 4px 8px rgba(0.4, 0.4, 0.4, 0.4);
        letter-spacing: 3px;
        font-size: 6rem;
        margin-top: 5%;
        margin-bottom: 5%;
        letter-spacing: 5px;
      }
  
.agendamiento-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
    padding: 20px;
}

.header h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 20px 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-align: center;
}

.schedule-container {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

.schedule-table {
    width: 100%;
    max-width: 1100px;
    margin-top: 10px;
    border-collapse: collapse;
}

.schedule-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.schedule-table td:first-child {
    width: 50%;
    text-align: left;
    padding-left: 50px;
}

.schedule-table label {
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.schedule-dropdown {
    display: none;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.schedule-btn {
    background-color: white;
    color: black;
    padding: 15px 30px;
    border: 3px solid black;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.schedule-btn:hover {
    background-color: var(--main-color);
    color: white;
}

/* Bot칩n Confirmar */
.confirm-btn-container {
    margin-top: 30px;
    text-align: center;
}

.confirm-btn {
    display: inline-block;
    background: transparent; 
    border: 2px solid #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0.4, 0.4, 0.4, 0.4);
    padding: 1.5rem 4rem; 
    font-size: 2rem; 
    color: #fff; 
    letter-spacing: 0.2rem; 
    font-weight: 600;
    margin-top: 2rem; 
    margin-bottom: 5%;
    cursor: pointer;
    transition: 0.5s ease; 
    text-shadow: 0 6px 8px rgba(0.4, 0.4, 0.4, 0.4);
}

.confirm-btn:hover {
    text-shadow: 0;
    background-color: var(--main-color); 
}

/* Footer*/
.footer {
    background-color: var(--bg-color);
    color: #fff;
    padding: 5rem 0 3rem;
    font-size: 1.8rem; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 2rem;
}

.footer-section h2 {
    font-size: 2.5rem; 
    color: #fff;
    margin-bottom: 1rem;
}

.footer-section p, .footer-section a, .footer-section .contact span {
    font-size: 1.8rem; 
    line-height: 1.6; 
}

.footer-section .contact i, .footer-section .socials i {
    font-size: 2rem;
    margin-right: 1rem;
}

.footer-section .socials a {
    font-size: 2.4rem; 
    margin-right: 1.5rem;
}

.footer-section .socials a:hover {
    color: var(--main-color);
}

.footer-section.links ul {
    list-style: none;
}

.footer-section.links ul li {
    margin: 1rem 0;
}

.footer-section.links ul li a {
    color: #bbb;
    text-decoration: none;
}

.footer-section.links ul li a:hover {
    color: var(--main-color);
}

.contact-form .text-input {
    width: 100%;
    background-color: #222;
    border: none;
    margin: 0.8rem 0;
    padding: 1.5rem;
    color: #fff;
    font-size: 1.8rem; 
}

.contact-form .btn {
    display: inline-block;
    background: var(--main-color);
    border: none;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.8rem; 
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form .btn:hover {
    background: #8b0000;
}

.footer-bottom {
    text-align: center;
    padding: 1.5rem 0;
    border-top: 1px solid #333;
    color: #bbb;
    margin-top: 3rem;
    font-size: 1.6rem; 
}
/* Barra de scroll */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    width: 50px;
}

@media (max-width: 480px) {
    .home-content h3 {
       font-size: 2.8rem; /* De 3rem a 2.8rem */
    }
 
    .home-content h1 {
       font-size: 3.2rem; /* De 3.5rem a 3.2rem */
    }
 
    .button {
       padding: 1rem 2rem;
       font-size: 1.5rem; /* De 1.6rem a 1.5rem */
    }
 }
  
  /* Responsive para dispositivos con ancho m치ximo de 991px */
@media (max-width: 991px) {
    .navbar {
        flex-direction: column;
        background: var(--bg-color);
        transition: all 0.5s ease;
    }

    .navbar a {
        display: block;
        padding: 1.7rem;
        font-size: 2.2rem;
    }

    .navbar .active {
        right: 0;
    }

    header {
        padding: 2rem 3%;
        flex-direction: column;
    }

    .home {
        padding: 10rem 3%;
    }

    .home-content {
        text-align: center;
        margin-top: 3rem;
    }

    .home-content h3 {
        font-size: 4rem;
    }

    .button {
        padding: 1.2rem 3rem;
        font-size: 1.8rem;
    }

    .services {
        padding: 5rem 3%;
    }

    .services-content {
        grid-template-columns: 1fr; 
        gap: 3rem;
    }

    .train {
        flex-direction: column;
        padding: 5rem 3%;
    }

    .train-img img {
        width: 90vw;
    }

    .train-content {
        padding: 4rem 0;
        text-align: center;
    }

    .train-content h2 {
        font-size: 4rem;
    }

    .plans {
        padding: 5rem 3%;
    }

    .plans-content {
        flex-direction: column;
        align-items: center;
    }

    .box {
        margin: 2rem 0;
        width: 100%;
        max-width: 450px; 
    }

    .footer {
        padding: 5rem 2rem;
        font-size: 1.6rem; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        max-width: 500px;
        text-align: center;
        margin: 2rem 0;
    }

    .footer-bottom {
        font-size: 1.4rem;
    }
}

/* Responsive para dispositivos con ancho m치ximo de 786px */
@media (max-width: 786px) {
    .navbar {
        display: none; 
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 3.5rem;
        margin-top: 1.5rem;
    }

    .home-content h1 {
        font-size: 4rem;
        margin-top: 1.5rem;
    }

    .home-content {
        order: 2;
        padding: 0 2rem;
    }

    .home-img img {
        width: 80vw;
        margin-top: 4rem;
    }

    .services {
        padding: 5rem 2%;
    }

    .services-content {
        grid-template-columns: 1fr; 
    }

    .row {
        width: 100%;
        margin: 2rem 0;
    }

    .services img {
        width: 100%;
    }

    .train {
        flex-direction: column;
        padding: 4rem 2%;
    }

    .train-img img {
        width: 90vw;
    }

    .train-content {
        padding: 3rem 0;
        text-align: center;
    }

    .train-content h2 {
        font-size: 3.5rem;
    }

    .plans {
        padding: 4rem 2%;
    }

    .plans-content {
        flex-direction: column;
        align-items: center;
    }

    .box {
        margin: 2rem 0;
        width: 100%;
        max-width: 400px; 
    }

    .footer {
        padding: 4rem 2rem;
        font-size: 1.5rem; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        max-width: 450px;
        text-align: center;
        margin: 2rem 0;
    }

    .footer-bottom {
        font-size: 1.3rem;
    }
}

/* Responsive para dispositivos con ancho m치ximo de 480px */
@media (max-width: 480px) {
    .home-content h3 {
        font-size: 3rem;
    }

    .home-content h1 {
        font-size: 3.5rem;
    }

    .button {
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }

    .services {
        padding: 4rem 1rem;
    }

    .services-content {
        grid-template-columns: 1fr; 
    }

    .row img {
        width: 100%;
    }

    .train {
        flex-direction: column;
        padding: 3rem 1rem;
    }

    .train-img img {
        width: 100%;
    }

    .train-content h2 {
        font-size: 3rem;
    }

    .plans-content {
        flex-direction: column;
        align-items: center;
    }

    .box {
        margin: 2rem 0;
        width: 100%;
        max-width: 350px; 
    }

    .footer {
        padding: 3rem 1rem;
        font-size: 1.4rem;
    }

    .footer-section {
        width: 100%;
        max-width: 400px;
    }

    .footer-bottom {
        font-size: 1.2rem;
    }
}
