@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #010413;
    font-family: "Jost", sans-serif;
}
.login-box {
    background-color: #131425;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 455.4px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-box h2 {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.login-container {
    background-color: #1B1E2B;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 455.4px;
    height: 277px;
    display: flex;
    flex-direction: column; 
    gap: 15px;

}
.input-box {
    display: flex;
    flex-direction: column; 
    position: relative;
    margin-bottom: 15px; 
    width: 90%; 
    align-self: center;
      margin-top: 20px;
}

.input-box label {
    position: absolute;
    color: white;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    margin-bottom: 5px; 
}
.input-box input:focus~label,
.input-box input:valid~label {
    top:-20px;
}

.input-box input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    opacity: 0.1;
    align-self: center;
    
}
.login-container button {
    background-color: #B91E29;
    color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
    cursor: pointer;
    width: 90%;
    font-size: 14px;
    font-weight: bold;
    align-self: center;
}
.login-container button:hover {
    background-color: #89151D;
}
.register {
    color: white;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.register p {
    margin: 0; 
  }
.register a {
    color: #F6303E;
    text-decoration: none;
}
.register a:hover {
    text-decoration: underline;
}
.forgot {
    text-align: right; 
    width: 95%; 
}
.forgot a {
    color: #F6303E;
    text-decoration: none;
    font-size: 14px;
}
.forgot a:hover {
    text-decoration: underline;
}

.instructions {
    text-align: left;
    padding: 0 10px; /* Ajuste de padding para mantener alineaci칩n con input */
    font-size: 18px;
    color: white;
    opacity: 0.5;
    width: 90%; /* Alineaci칩n del ancho con input-box */
    align-self: center; /* Centramos respecto al contenedor principal */

}
/* Estilos para pantallas grandes (escritorio) */
@media (min-width: 1024px) {
    .login-box {
        width: 455.4px;
    }
    .login-container {
        width: 455.4px;
    }
}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 1023px) and (min-width: 768px) {
    .login-box {
        width: 80%;
    }
    .login-container {
        width: 100%;
    }
}

/* Estilos para pantallas peque침as (m칩viles) */
@media (max-width: 767px) {
    .login-box {
        width: 90%;
    }
    .login-container {
        width: 100%;
        padding: 10px;
    }
    .input-box input, .login-container button {
        width: 100%;
    }
    .forgot {
        width: 100%; 
    }
    .input-box {
        margin-top: 10px;
    }
}